/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}
nav {
  background-color: #002147;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: white;
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
  
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #002147 !important;
}

#logo {
  width: 50px; 
  height: auto;
  margin-top: 7px;
}

#cat-background {
  /* border: 2px solid darkgray;
  border-radius: 7px; */
  border:0px;
} 

/* Results page styling */
.card .card-action{
  padding:0;
}
/* Styling for title and icon layout */
.card-title{
  font-size: 28px;
  line-height: 1.65rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: end;

  
}

.cat-card {
  font-weight: 400;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Reveal card styling */
.card .card-reveal {
  padding: 16px;
  height: 275px;
} 

.card .card-reveal .card-title {
  cursor: pointer;
  display: flex;
  margin:0px;
  margin-right: 24px;
  font-weight: bold;
  text-shadow: none;
}

.card-reveal-close-icon{
  position: fixed;
  right: 12px;
  top: 12px;
}

.card-reveal-deductible-text{
  float: left;
  text-align: left;
  font-size:14px;
  width: 100%;
  color: black;
}
/* Reveal card buttons styling */
.card-reveal-contribute-button, .card-reveal-favorite-button{
  display: inline-block;
}

.card-reveal-contribute-button a{
    padding: 12px;
    border-radius: 5px;
    color: white;
    background: #4285f4;
    display: inline-block;
    line-height: 24px;
    width: 100px;
    height: 48px;
  }


.card-reveal-favorite-button {
  padding: 12px;
  background: white;
  border: 1px solid #4285f4;
  border-radius: 5px;
  color: #4285f4;
  width: 100px;
  height: 48px;
  cursor: pointer;
}

.catRow > .card .small{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border:0px;
}

.card .card-reveal p{
  margin-bottom: 0px;
}

#catRow .card-image{
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#favRow .card-image{
  border-radius: 5px 5px 0 0;
}

#index-banner #cat-background img{
  opacity: 0.2; filter: alpha(opacity=50);
}

/* Results page heading */
h2{
  margin-top: 0px;
}

.dropdown-content li > a, .dropdown-content li > span {
  text-transform: uppercase;
}

nav .sidenav-trigger{
  margin:0;
}

.header-caption{
  font-size: 24px;
}



.card .card-image .card-title {
  color: #FFEB3B !important;
  line-height: 24px;
    height: 100%;
    text-align: left;
}

.cat-card .col .card .card-image .card-title {
  color: #fff !important;
}
/* Responsive layout for container and cards */
@media only screen and (min-width: 993px){
  .container{
      width: 95%;
  }
}

@media only screen and (max-width: 768px){
  .row .col .s6 {
    width: 50%;
  }
}

@media only screen and (max-width: 635px) {
  #logo {
    width: 42px;
  } 

}

@media only screen and (max-width: 450px){
  .row .col.s6 {
    width: 50%;
  }
  
  #logo {
    width: 42px;
  }
}

